* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 70px;
}
h3 {
  font-weight: 700;
  margin-bottom: 100px;
  font-size: 36px;
}
p {
  font-weight: 400;
  font-size: 20px;
}

.overview {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.section {
  margin-bottom: 400px;
}

@import "section-layout";
@import "aboutme";
@import "skills";
@import "design";
@import "work";
@import "blog";
